## Importing the Necessary Libraries

In [2]:
import re
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings("ignore")

pd.set_option("display.max_columns", None)

## Loading the Metadata File and Exploring it

In [3]:
major_df = pd.read_csv("../data/metadata.csv")

In [4]:
major_df.head()

,#,SE id(SA),Accession,GI number,Version,Se ID,Sequence Length,GB comment,GB create date,GB update date,Percent non-ACGT,SE id(SSAM),PAT id(SSAM),Name,Locus Name,Isolate Name,Clone Name,Georegion,Country,Sampling City,Sampling Year,Sampling Year Upper,Patient Age,Patient Health,Organism,Subtype,Phenotype,Coreceptor,Sample Tissue,Culture Method,Molecule type,Drug Naive,Problematic Sequence,Viral load,CD4 count,CD8 count,Days from Infection,Days from Seroconversion,Days from first Sample,Sequencing method,Amplification strategy,Fiebig Stage,Anno,Days from treatment start,Days from treatment end,Vaccine status,RIP subtype
0,1,795536,MF990522,1246707969,MF990522.1,795536,2470,GenBank staff is unable to verify sequence and...,2017-10-01,2017-10-01,0.3,795536,NaN,FOST145,MF990522,FOST145,NaN,AFR SSA,SOUTH AFRICA,NaN,2012,2012,NaN,NaN,HIV-1,C,NaN,NaN,plasma,uncultured,RNA,no,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,C
1,2,795537,MF990521,1246707968,MF990521.1,795537,2135,GenBank staff is unable to verify sequence and...,2017-10-01,2017-10-01,1.7,795537,NaN,FOST144,MF990521,FOST144,NaN,AFR SSA,SOUTH AFRICA,NaN,2012,2012,NaN,NaN,HIV-1,C,NaN,NaN,plasma,uncultured,RNA,no,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,C
2,3,795538,MF990520,1246707967,MF990520.1,795538,2556,GenBank staff is unable to verify sequence and...,2017-10-01,2017-10-01,0.3,795538,NaN,FOST143,MF990520,FOST143,NaN,AFR SSA,SOUTH AFRICA,NaN,2012,2012,NaN,NaN,HIV-1,C,NaN,NaN,plasma,uncultured,RNA,no,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,C
3,4,795539,MF990519,1246707966,MF990519.1,795539,2589,GenBank staff is unable to verify sequence and...,2017-10-01,2017-10-01,0.0,795539,NaN,FOST142,MF990519,FOST142,NaN,AFR SSA,SOUTH AFRICA,NaN,2012,2012,NaN,NaN,HIV-1,C,NaN,NaN,plasma,uncultured,RNA,no,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,C
4,5,795540,MF990518,1246707965,MF990518.1,795540,2547,GenBank staff is unable to verify sequence and...,2017-10-01,2017-10-01,0.2,795540,NaN,FOST141,MF990518,FOST141,NaN,AFR SSA,SOUTH AFRICA,NaN,2012,2012,NaN,NaN,HIV-1,C,NaN,NaN,plasma,uncultured,RNA,no,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,C

In [5]:
remaining_metadata_df = pd.read_csv(
    "../data/processed/output_fragments/Advanced_results_NoSEQ.txt",
    sep="\t",
    index_col=False,
)
remaining_metadata_df.head()

,#,SE id(SSAM),PAT id(SSAM),Name,Country,Sampling Year,Subtype,Days from Infection,Days from Seroconversion,RIP subtype,Se ID,Sequence Length,Patient Id,Patient Sex,Risk Factor,Infection Year,SE id(SA),Accession
0,1,1067058,154330.0,M339A,SOUTH AFRICA,2014,C,NaN,NaN,C,1067058,979,154330.0,F,Not Recorded,NaN,1067058,MZ706941
1,2,1067059,154669.0,M338A,UGANDA,2014,D,NaN,NaN,D,1067059,992,154669.0,F,Not Recorded,NaN,1067059,MZ706940
2,3,1067060,154715.0,M337A,UGANDA,2014,A1,NaN,NaN,A1,1067060,975,154715.0,F,Not Recorded,NaN,1067060,MZ706939
3,4,1067061,153839.0,M336A,UGANDA,2014,A1D,NaN,NaN,A1D,1067061,964,153839.0,F,Not Recorded,NaN,1067061,MZ706938
4,5,1067062,153945.0,M335A,UGANDA,2013,A1,NaN,NaN,A1,1067062,979,153945.0,F,Not Recorded,NaN,1067062,MZ706937

In [6]:
df = pd.concat([major_df, remaining_metadata_df], join="outer", ignore_index=True)
df

,#,SE id(SA),Accession,GI number,Version,Se ID,Sequence Length,GB comment,GB create date,GB update date,Percent non-ACGT,SE id(SSAM),PAT id(SSAM),Name,Locus Name,Isolate Name,Clone Name,Georegion,Country,Sampling City,Sampling Year,Sampling Year Upper,Patient Age,Patient Health,Organism,Subtype,Phenotype,Coreceptor,Sample Tissue,Culture Method,Molecule type,Drug Naive,Problematic Sequence,Viral load,CD4 count,CD8 count,Days from Infection,Days from Seroconversion,Days from first Sample,Sequencing method,Amplification strategy,Fiebig Stage,Anno,Days from treatment start,Days from treatment end,Vaccine status,RIP subtype,Patient Id,Patient Sex,Risk Factor,Infection Year
0,1,795536,MF990522,1.246708e+09,MF990522.1,795536,2470,GenBank staff is unable to verify sequence and...,2017-10-01,2017-10-01,0.3,795536,NaN,FOST145,MF990522,FOST145,NaN,AFR SSA,SOUTH AFRICA,NaN,2012,2012.0,NaN,NaN,HIV-1,C,NaN,NaN,plasma,uncultured,RNA,no,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,C,NaN,NaN,NaN,NaN
1,2,795537,MF990521,1.246708e+09,MF990521.1,795537,2135,GenBank staff is unable to verify sequence and...,2017-10-01,2017-10-01,1.7,795537,NaN,FOST144,MF990521,FOST144,NaN,AFR SSA,SOUTH AFRICA,NaN,2012,2012.0,NaN,NaN,HIV-1,C,NaN,NaN,plasma,uncultured,RNA,no,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,C,NaN,NaN,NaN,NaN
2,3,795538,MF990520,1.246708e+09,MF990520.1,795538,2556,GenBank staff is unable to verify sequence and...,2017-10-01,2017-10-01,0.3,795538,NaN,FOST143,MF990520,FOST143,NaN,AFR SSA,SOUTH AFRICA,NaN,2012,2012.0,NaN,NaN,HIV-1,C,NaN,NaN,plasma,uncultured,RNA,no,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,C,NaN,NaN,NaN,NaN
3,4,795539,MF990519,1.246708e+09,MF990519.1,795539,2589,GenBank staff is unable to verify sequence and...,2017-10-01,2017-10-01,0.0,795539,NaN,FOST142,MF990519,FOST142,NaN,AFR SSA,SOUTH AFRICA,NaN,2012,2012.0,NaN,NaN,HIV-1,C,NaN,NaN,plasma,uncultured,RNA,no,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,C,NaN,NaN,NaN,NaN
4,5,795540,MF990518,1.246708e+09,MF990518.1,795540,2547,GenBank staff is unable to verify sequence and...,2017-10-01,2017-10-01,0.2,795540,NaN,FOST141,MF990518,FOST141,NaN,AFR SSA,SOUTH AFRICA,NaN,2012,2012.0,NaN,NaN,HIV-1,C,NaN,NaN,plasma,uncultured,RNA,no,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,C,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233222,1996,1182836,MZ766586,NaN,NaN,1182836,8945,NaN,NaN,NaN,NaN,1182836,148912.0,074-AP-115-1-5_w0_44,NaN,NaN,NaN,NaN,BOTSWANA,NaN,2015,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,148912.0,NaN,Mother-&gt;Child,NaN
233223,1997,1182837,MZ766585,NaN,NaN,1182837,8936,NaN,NaN,NaN,NaN,1182837,148912.0,074-AP-115-1-5_w0_42,NaN,NaN,NaN,NaN,BOTSWANA,NaN,2015,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,148912.0,NaN,Mother-&gt;Child,NaN
233224,1998,1182838,MZ766584,NaN,NaN,1182838,8948,NaN,NaN,NaN,NaN,1182838,148866.0,074-AP-113-1-6_w84_41,NaN,NaN,NaN,NaN,BOTSWANA,NaN,2015,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,588.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07C,148866.0,NaN,Mother-&gt;Child,NaN
233225,1999,1182839,MZ766583,NaN,NaN,1182839,8948,NaN,NaN,NaN,NaN,1182839,148866.0,074-AP-113-1-6_w84_33,NaN,NaN,NaN,NaN,BOTSWANA,NaN,2015,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,588.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07C,148866.0,NaN,Mother-&gt;Child,NaN
233226,2000,1182840,MZ766582,NaN,NaN,1182840,8948,NaN,NaN,NaN,NaN,1182840,148866.0,074-AP-113-1-6_w0_28,NaN,NaN,NaN,NaN,BOTSWANA,NaN,2015,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07C,148866.0,NaN,Mother-&gt;Child,NaN

In [7]:
df.columns

Index(['#', 'SE id(SA)', 'Accession', 'GI number', 'Version', 'Se ID',
       'Sequence Length', 'GB comment', 'GB create date', 'GB update date',
       'Percent non-ACGT', 'SE id(SSAM)', 'PAT id(SSAM)', 'Name', 'Locus Name',
       'Isolate Name', 'Clone Name', 'Georegion', 'Country', 'Sampling City',
       'Sampling Year', 'Sampling Year Upper', 'Patient Age', 'Patient Health',
       'Organism', 'Subtype', 'Phenotype', 'Coreceptor', 'Sample Tissue',
       'Culture Method', 'Molecule type', 'Drug Naive', 'Problematic Sequence',
       'Viral load', 'CD4 count', 'CD8 count', 'Days from Infection',
       'Days from Seroconversion', 'Days from first Sample',
       'Sequencing method', 'Amplification strategy', 'Fiebig Stage', 'Anno',
       'Days from treatment start', 'Days from treatment end',
       'Vaccine status', 'RIP subtype', 'Patient Id', 'Patient Sex',
       'Risk Factor', 'Infection Year'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233227 entries, 0 to 233226
Data columns (total 51 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   #                          233227 non-null  int64
 1   SE id(SA)                  233227 non-null  int64
 2   Accession                  233227 non-null  object
 3   GI number                  231227 non-null  float64
 4   Version                    231227 non-null  object
 5   Se ID                      233227 non-null  int64
 6   Sequence Length            233227 non-null  int64
 7   GB comment                 136566 non-null  object
 8   GB create date             231227 non-null  object
 9   GB update date             231227 non-null  object
 10  Percent non-ACGT           231227 non-null  float64
 11  SE id(SSAM)                233227 non-null  int64
 12  PAT id(SSAM)               172701 non-null  float64
 13  Name                       233226 non-null  object
 14  Locus Name                 231227 non-null  object
 15  Isolate Name               219408 non-null  object
 16  Clone Name                 22546 non-null   object
 17  Georegion                  231227 non-null  object
 18  Country                    233227 non-null  object
 19  Sampling City              92989 non-null   object
 20  Sampling Year              233227 non-null  int64
 21  Sampling Year Upper        231227 non-null  float64
 22  Patient Age                49480 non-null   object
 23  Patient Health             15853 non-null   object
 24  Organism                   231227 non-null  object
 25  Subtype                    230458 non-null  object
 26  Phenotype                  903 non-null     object
 27  Coreceptor                 3405 non-null    object
 28  Sample Tissue              189195 non-null  object
 29  Culture Method             149618 non-null  object
 30  Molecule type              231227 non-null  object
 31  Drug Naive                 111572 non-null  object
 32  Problematic Sequence       231227 non-null  float64
 33  Viral load                 43895 non-null   float64
 34  CD4 count                  19717 non-null   float64
 35  CD8 count                  888 non-null     float64
 36  Days from Infection        18739 non-null   object
 37  Days from Seroconversion   44702 non-null   object
 38  Days from first Sample     14210 non-null   float64
 39  Sequencing method          83817 non-null   object
 40  Amplification strategy     78248 non-null   object
 41  Fiebig Stage               6320 non-null    object
 42  Anno                       231227 non-null  float64
 43  Days from treatment start  1273 non-null    float64
 44  Days from treatment end    0 non-null       float64
 45  Vaccine status             154 non-null     object
 46  RIP subtype                195905 non-null  object
 47  Patient Id                 871 non-null     float64
 48  Patient Sex                326 non-null     object
 49  Risk Factor                871 non-null     object
 50  Infection Year             0 non-null       float64
dtypes: float64(14), int64(6), object(31)
memory usage: 90.7+ MB

## Optimising the DataFrame to reduce memory usage

In [9]:
# Downcast numeric types to the most efficient representation
for col in df.select_dtypes(include=["float"]):
    df[col] = pd.to_numeric(df[col], downcast="float")

for col in df.select_dtypes(include=["int"]):
    df[col] = pd.to_numeric(df[col], downcast="integer")

# Convert object types to category if they have few unique values
for col in df.select_dtypes(include=["object"]).columns:
    unique_values = df[col].nunique()
    total_values = len(df[col])
    if unique_values / total_values < 0.5:  # If more than 50% of values are repetitive
        df[col] = df[col].astype("category")

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233227 entries, 0 to 233226
Data columns (total 51 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   #                          233227 non-null  int16
 1   SE id(SA)                  233227 non-null  int32
 2   Accession                  233227 non-null  object
 3   GI number                  231227 non-null  float64
 4   Version                    231227 non-null  object
 5   Se ID                      233227 non-null  int32
 6   Sequence Length            233227 non-null  int16
 7   GB comment                 136566 non-null  category
 8   GB create date             231227 non-null  category
 9   GB update date             231227 non-null  category
 10  Percent non-ACGT           231227 non-null  float32
 11  SE id(SSAM)                233227 non-null  int32
 12  PAT id(SSAM)               172701 non-null  float32
 13  Name                       233226 non-null  object
 14  Locus Name                 231227 non-null  object
 15  Isolate Name               219408 non-null  object
 16  Clone Name                 22546 non-null   category
 17  Georegion                  231227 non-null  category
 18  Country                    233227 non-null  category
 19  Sampling City              92989 non-null   category
 20  Sampling Year              233227 non-null  int16
 21  Sampling Year Upper        231227 non-null  float32
 22  Patient Age                49480 non-null   category
 23  Patient Health             15853 non-null   category
 24  Organism                   231227 non-null  category
 25  Subtype                    230458 non-null  category
 26  Phenotype                  903 non-null     category
 27  Coreceptor                 3405 non-null    category
 28  Sample Tissue              189195 non-null  category
 29  Culture Method             149618 non-null  category
 30  Molecule type              231227 non-null  category
 31  Drug Naive                 111572 non-null  category
 32  Problematic Sequence       231227 non-null  float32
 33  Viral load                 43895 non-null   float64
 34  CD4 count                  19717 non-null   float32
 35  CD8 count                  888 non-null     float32
 36  Days from Infection        18739 non-null   category
 37  Days from Seroconversion   44702 non-null   category
 38  Days from first Sample     14210 non-null   float32
 39  Sequencing method          83817 non-null   category
 40  Amplification strategy     78248 non-null   category
 41  Fiebig Stage               6320 non-null    category
 42  Anno                       231227 non-null  float32
 43  Days from treatment start  1273 non-null    float32
 44  Days from treatment end    0 non-null       float32
 45  Vaccine status             154 non-null     category
 46  RIP subtype                195905 non-null  category
 47  Patient Id                 871 non-null     float32
 48  Patient Sex                326 non-null     category
 49  Risk Factor                871 non-null     category
 50  Infection Year             0 non-null       float32
dtypes: category(26), float32(12), float64(2), int16(3), int32(3), object(5)
memory usage: 36.9+ MB

In [11]:
df.describe()

,#,SE id(SA),GI number,Se ID,Sequence Length,Percent non-ACGT,SE id(SSAM),PAT id(SSAM),Sampling Year,Sampling Year Upper,Problematic Sequence,Viral load,CD4 count,CD8 count,Days from first Sample,Anno,Days from treatment start,Days from treatment end,Patient Id,Infection Year
count,233227.000000,2.332270e+05,2.312270e+05,2.332270e+05,233227.000000,231227.000000,2.332270e+05,172701.000000,233227.000000,231227.000000,231227.0,4.389500e+04,19717.000000,888.000000,14210.000000,231227.000000,1273.000000,0.0,871.000000,0.0
mean,7407.741719,5.869033e+05,8.359108e+08,5.869033e+05,1433.876271,0.292750,5.869033e+05,63430.199219,2007.036848,2007.089478,0.0,5.415308e+06,372.217133,1073.051758,419.223938,0.966077,128.807541,NaN,147473.265625,NaN
std,4746.315790,3.311082e+05,7.511699e+08,3.311082e+05,1501.301278,0.640116,3.311082e+05,41730.769531,6.052212,6.004549,0.0,1.058842e+08,293.519897,461.330872,666.565613,0.181032,274.786102,NaN,11757.750000,NaN
min,1.000000,2.810000e+02,6.023800e+04,2.810000e+02,55.000000,0.000000,2.810000e+02,5.000000,1990.000000,1990.000000,0.0,1.000000e+00,0.000000,96.000000,0.000000,0.000000,-779.000000,NaN,116100.000000,NaN
25%,3022.000000,3.600235e+05,3.002453e+08,3.600235e+05,615.000000,0.000000,3.600235e+05,34375.000000,2003.000000,2003.000000,0.0,2.360000e+04,188.000000,744.000000,0.000000,1.000000,0.000000,NaN,148701.000000,NaN
50%,7187.000000,5.365440e+05,4.622114e+08,5.365440e+05,1017.000000,0.000000,5.365440e+05,49824.000000,2007.000000,2007.000000,0.0,9.170000e+04,325.000000,1034.000000,91.000000,1.000000,0.000000,NaN,153839.000000,NaN
75%,11515.000000,8.258015e+05,1.341082e+09,8.258015e+05,1485.000000,0.300000,8.258015e+05,94823.000000,2011.000000,2011.000000,0.0,3.311310e+05,496.000000,1280.000000,548.000000,1.000000,128.000000,NaN,154339.500000,NaN
max,16000.000000,1.285059e+06,2.783937e+09,1.285059e+06,10414.000000,7.000000,1.285059e+06,172034.000000,2024.000000,2024.000000,0.0,5.940000e+09,10001.000000,5749.000000,3592.000000,1.000000,2068.000000,NaN,154879.000000,NaN

In [12]:
df.describe(include="object")

       Accession     Version    Name Locus Name Isolate Name
count     233227      231227  233226     231227       219408
unique    217227      215227  181690     215227       168107
top     HQ702687  HQ596176.1   HS507   HQ596176           B1
freq           2           2     191          2          351

In [13]:
df.describe(include="category")

,GB comment,GB create date,GB update date,Clone Name,Georegion,Country,Sampling City,Patient Age,Patient Health,Organism,Subtype,Phenotype,Coreceptor,Sample Tissue,Culture Method,Molecule type,Drug Naive,Days from Infection,Days from Seroconversion,Sequencing method,Amplification strategy,Fiebig Stage,Vaccine status,RIP subtype,Patient Sex,Risk Factor
count,136566,231227,231227,22546,231227,233227,92989,49480,15853,231227,230458,903,3405,189195,149618,231227,111572,18739,44702,83817,78248,6320,154,195905,326,871
unique,25809,1278,1232,12264,2,49,595,1210,6,1,263,3,12,28,6,4,2,745,726,3,4,20,2,1027,2,5
top,##Assembly-Data-START## ; Sequencing Technolog...,2011-03-08,2011-03-08,2,AFR SSA,SOUTH AFRICA,RAKAI,child,asymptomatic,HIV-1,C,NSI,CCR5,plasma,uncultured,RNA,yes,late,early,clone,SGA,1 or 2,preventative breakthrough,C,F,Not Recorded
freq,22367,5956,5952,410,227265,45411,7929,8730,5015,231227,115357,696,2821,125020,148154,158338,75402,862,6866,59426,38524,1491,103,108890,319,427

In [14]:
# Drop Duplicate Entries in the Dataset
df.drop_duplicates().reset_index().head(2)

,index,#,SE id(SA),Accession,GI number,Version,Se ID,Sequence Length,GB comment,GB create date,GB update date,Percent non-ACGT,SE id(SSAM),PAT id(SSAM),Name,Locus Name,Isolate Name,Clone Name,Georegion,Country,Sampling City,Sampling Year,Sampling Year Upper,Patient Age,Patient Health,Organism,Subtype,Phenotype,Coreceptor,Sample Tissue,Culture Method,Molecule type,Drug Naive,Problematic Sequence,Viral load,CD4 count,CD8 count,Days from Infection,Days from Seroconversion,Days from first Sample,Sequencing method,Amplification strategy,Fiebig Stage,Anno,Days from treatment start,Days from treatment end,Vaccine status,RIP subtype,Patient Id,Patient Sex,Risk Factor,Infection Year
0,0,1,795536,MF990522,1.246708e+09,MF990522.1,795536,2470,GenBank staff is unable to verify sequence and...,2017-10-01,2017-10-01,0.3,795536,NaN,FOST145,MF990522,FOST145,NaN,AFR SSA,SOUTH AFRICA,NaN,2012,2012.0,NaN,NaN,HIV-1,C,NaN,NaN,plasma,uncultured,RNA,no,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,C,NaN,NaN,NaN,NaN
1,1,2,795537,MF990521,1.246708e+09,MF990521.1,795537,2135,GenBank staff is unable to verify sequence and...,2017-10-01,2017-10-01,1.7,795537,NaN,FOST144,MF990521,FOST144,NaN,AFR SSA,SOUTH AFRICA,NaN,2012,2012.0,NaN,NaN,HIV-1,C,NaN,NaN,plasma,uncultured,RNA,no,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,C,NaN,NaN,NaN,NaN

##  Further CrossMatching with the Validation and Gene Info Data

In [15]:
validation_path = "../data/csv_output/validation_results.csv"
validation_df = pd.read_csv(validation_path)

In [16]:
validation_df.head()

  Input Sequence     Level                                            Message
0       HQ172324  CRITICAL  There were no PR, RT, and IN genes found, refu...
1       EF203958  CRITICAL  There were no PR, RT, and IN genes found, refu...
2       KF374017  CRITICAL  There were no PR, RT, and IN genes found, refu...
3       KC422797      NOTE  303 positions were not sequenced or aligned: R...
4       FJ931208   WARNING  225 positions were not sequenced or aligned: R...

In [18]:
def extract_and_convert(message):
    # Regex to detect missing genes (e.g., PR, RT, IN)
    missing_genes = list(set(re.findall(r"\bPR\b|\bRT\b|\bIN\b", message)))

    # Regex to detect drug resistance positions
    resistance_positions = list(set(re.findall(r"RT\s\d+", message)))

    # Look for specific issues (frameshift, missing sequences, etc.)
    issues = []
    if "frameshift" in message.lower():
        issues.append("frameshift")
    if "refuse to process" in message.lower():
        issues.append("refuse to process")
    if "not sequenced or aligned" in message.lower():
        issues.append("missing sequence")

    # Convert lists to comma-separated strings or NaN for empty lists
    missing_genes_str = ", ".join(missing_genes) if missing_genes else np.nan
    resistance_positions_str = (
        ", ".join(resistance_positions) if resistance_positions else np.nan
    )
    issues_str = ", ".join(issues) if issues else np.nan

    return pd.Series([missing_genes_str, resistance_positions_str, issues_str])


# Apply the combined function and expand the results into new columns
validation_df[["Missing Genes", "Drug Resistance Positions", "Issues"]] = validation_df[
    "Message"
].apply(extract_and_convert)

# Display the extracted info
validation_df.head()

,Input Sequence,Level,Message,Missing Genes,Drug Resistance Positions,Issues
0,HQ172324,CRITICAL,"There were no PR, RT, and IN genes found, refu...","IN, PR, RT",NaN,refuse to process
1,EF203958,CRITICAL,"There were no PR, RT, and IN genes found, refu...","IN, PR, RT",NaN,refuse to process
2,KF374017,CRITICAL,"There were no PR, RT, and IN genes found, refu...","IN, PR, RT",NaN,refuse to process
3,KC422797,NOTE,303 positions were not sequenced or aligned: R...,RT,"RT 258, RT 318",missing sequence
4,FJ931208,WARNING,225 positions were not sequenced or aligned: R...,RT,"RT 348, RT 336",missing sequence

In [23]:
len(validation_df[validation_df["Level"] != "CRITICAL"]["Input Sequence"].unique())

98307

In [19]:
gene_info_path = "../data/csv_output/gene_info.csv"
gene_info_df = pd.read_csv(gene_info_path)
gene_info_df.head()

,Input Sequence,Strain Name,Subtype,Gene Name,First AA,Last AA,Gene Length
0,KC422797,HIV1,C (3.09%),PR,1,99,99
1,KC422797,HIV1,C (3.09%),RT,1,257,560
2,FJ931208,HIV1,CRF02_AG (4.61%),PR,1,99,99
3,FJ931208,HIV1,CRF02_AG (4.61%),RT,1,335,560
4,KT982514,HIV1,C (5.08%),RT,38,247,560

In [20]:
len(gene_info_df["Input Sequence"].unique())

113301

In [26]:
drug_resistance_path = "../data/csv_output/drug_resistance_mutations.csv"
drug_resistance_df = pd.read_csv(drug_resistance_path)
drug_resistance_df

,Input Sequence,Gene Name,Drug Class,Drug,Drug Full Name,Score,Level,Mutation Text,Mutation Primary Type
0,KC422797,RT,NRTI,ABC,ABC,10.0,2,T215Y,NRTI
1,KC422797,RT,NRTI,AZT,AZT,60.0,5,T215Y,NRTI
2,KC422797,RT,NRTI,D4T,D4T,40.0,4,T215Y,NRTI
3,KC422797,RT,NRTI,DDI,DDI,15.0,3,T215Y,NRTI
4,KC422797,RT,NRTI,TDF,TDF,10.0,2,T215Y,NRTI
...,...,...,...,...,...,...,...,...,...
899463,MF797082,RT,NRTI,FTC,FTC,60.0,5,M184V,NRTI
899464,MF797082,RT,NRTI,3TC,LMV,60.0,5,M184V,NRTI
899465,MF797082,RT,NRTI,TDF,TDF,-10.0,1,M184V,NRTI
899466,MF797082,RT,NNRTI,EFV,EFV,60.0,5,K103N,NNRTI
899467,MF797082,RT,NNRTI,NVP,NVP,60.0,5,K103N,NNRTI

In [27]:
mutations_path = "../data/csv_output/general_mutations.csv"
mutations_df = pd.read_csv(mutations_path)
mutations_df

,Input Sequence,Strain Name,Subtype,Gene Name,Mutation Position,Amino Acids,Primary Type,Consensus,Is Insertion,Is Deletion,Is Apobec Mutation,Is SDRM,Has Stop,Is Unusual,Mutation Text
0,KC422797,HIV1,C (3.09%),PR,12,S,Other,T,False,False,False,False,False,False,T12S
1,KC422797,HIV1,C (3.09%),PR,15,V,Other,I,False,False,False,False,False,False,I15V
2,KC422797,HIV1,C (3.09%),PR,19,I,Other,L,False,False,False,False,False,False,L19I
3,KC422797,HIV1,C (3.09%),PR,36,I,Other,M,False,False,False,False,False,False,M36I
4,KC422797,HIV1,C (3.09%),PR,41,K,Other,R,False,False,False,False,False,False,R41K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3224204,MF797083,HIV1,CRF02_AG (4.92%),RT,202,V,Other,I,False,False,False,False,False,False,I202V
3224205,MF797083,HIV1,CRF02_AG (4.92%),RT,207,E,Other,Q,False,False,False,False,False,False,Q207E
3224206,MF797083,HIV1,CRF02_AG (4.92%),RT,211,E,Other,R,False,False,False,False,False,False,R211E
3224207,MF797083,HIV1,CRF02_AG (4.92%),RT,245,T,Other,V,False,False,False,False,False,False,V245T
3224208,MF797083,HIV1,CRF02_AG (4.92%),RT,248,D,Other,E,False,False,False,False,False,False,E248D

In [28]:
len(mutations_df["Input Sequence"].unique())

113299